.addTaskComponent_button {
  background: transparent;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  padding: 0px 10px 10px 10px;
}

.addTaskComponent_task-input {
  background-color: transparent;
  border: 1px solid #fff;
  box-shadow: none;
  padding: 5px;
  width: 200px;
}

.addTaskComponent_task-input:focus {
  outline: none;
}
